html {
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
  	background-size: 100%;
	color: #000000;
	font-size: 12px;
	line-height: 30px;
}
.clear{
	display:block;
	clear: both;
}
.floatleft{
	float: left;
}
#wrapper{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: block;
}
#header{
	display:block;
}
#header img{
	width: 500px;
}
#content{
	width: 100%;
}
#leftbox{
	width:30%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: left;
}
#rightbox{
	width: 50%;
}
#rightbox img{
	max-width: 100%;
	padding-top: 100px;
}
#controls{
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
}
#controls .floatleft{
	width: 20%;
    padding-bottom: 10%;
}
